mixin top-navbar
  div#head-nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
    div.container-fluid
      div.navbar-header
        div.navbar-toggle(data-toggle="collapse", data-target=".navbar-collapse")
          span.sr-only Toggle navigation
          i.fa.fa-bars
        a.navbar-brand(href="#{req.baseUrl}/"): span #{brand_name}

      div.navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href="#{req.baseUrl}/") Home

          //li.dropdown
            a.dropdown-toggle(href="#",data-toggle="dropdown") Test
              b.caret
            ul.dropdown-menu
              li: a(href="#req.baseUrl}/test/") Test home
              li: a(href="{req.baseUrl}/test/foo") Foo
              li: a(href="{req.baseUrl}/test/message") Add message
        ul.nav.navbar-nav.navbar-right.user-nav
          if session.user
            li.dropdown.profile_menu
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                img#user-image(alt='Avatar', src='#{session.user.image}')
                span#username #{session.user.name}
                b.caret
              ul.dropdown-menu
                li
                  a#profile-link(href='#{session.user.link}') Profile
                li.divider
                li
                  a(href='/logout') Sign Out
          else
            li.dropdown.profile_menu.hidden
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                img#user-image(alt='Avatar', src='')
                span#username
                b.caret
              ul.dropdown-menu
                li
                  a#profile-link(href='#') Profile
                li.divider
                li
                  a(href='/logout') Sign Out
            li.signup-button
              a.btn-meetup.login-button(name='meetup')
                i.fa.fa-meetup
                  | Sign in with Meetup
